body {
    background-color: azure;
}
.main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
}
.page-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.tooltip {
    position: absolute;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: white;
}